nav {
    height: 120px;
    width: 100%;
    background-color: #4056A1;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.write-new-tweet {
    margin-right: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
  margin-left: 1.5em;
  margin-right: 1.5em;
  font-family: bungee, cursive;

}

span {
  margin-right: 1.5em;
}