.tweet-container {
  margin-top: 4rem;
}

.tweet-container article header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  background-color: inherit;
  background-image: none;
  max-height: 5rem;
  margin: 0;
}

#avatar {
  display: flex;
  flex-direction: row;
  padding-top: 1.5rem;
}

h3 {
  font-weight: 500;
}
 article {
  display: flex;
  flex-flow: row wrap;
  max-height: 27rem;
  border: black solid 3px;
  padding-inline: 1rem;
  font-weight: 600;
  margin-bottom: 50px;
 }

 article:hover {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
 }

 article main {
  margin: 0;
  border-bottom: 3px solid black;
  padding-block: 1rem;
  width: 90vw;
 }

 article footer p {
  font-size: 1.2rem;
 }

 .foot-content {
  display: flex;
  justify-content: space-between;

 }

 #icons {
  margin-top: 1.5rem;
  letter-spacing: .4rem;
 }

 i:hover {
  color: rgb(184, 49, 49);
 }

 #tweet-foot {
  width: 100%;
 }
